<form [formGroup]="trailForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="trailId">Trail Id</label>
    <input type="text" formControlName="trailId" class="form-control"
           [ngClass]="{ 'is-invalid': (f.trailId.dirty || f.trailId.touched) && f.trailId.errors }" />
    <div *ngIf="(f.trailId.dirty || f.trailId.touched) && f.trailId.errors" class="invalid-feedback">
      <div *ngIf="f.trailId.errors.required">Trail ID is required</div>
      <div *ngIf="f.trailId.errors.notValid">Trail ID is not valid</div>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="!trailForm.valid || loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Register
    </button>
  </div>
  <div class="form-group">
    <a class="link" [routerLink]="['/']">Back</a>
  </div>
</form>
